body {
  background-color: #e9e9e9;
}
.card {
  height: 350px;
  width: 230px;
}
.card-title img {
  transform: translate(0, -20px);
}
.card-title p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}
.card p,
span,
i {
  color: #dc74e9;
}
.card-header p:nth-last-child() {
  margin-left: 75px;
}
.card_rating {
  margin-left: -10px;
  font-size: 12px;
}
.card_body_first_col {
  transform: translate(90px, 25px);
}
.card_rating i {
  margin-left: -2px;
  color: yellow;
  font-size: 8px;
}
.card_deliver {
  margin-left: 20px;
}
.card_deliver .fa-truck-ramp-box {
  transform: translate(0, 5px);
  font-size: 12px;
}
.card_deliver .deliver_price {
  font-size: 15px;
}
.upper_nav {
  height: 30px;
  background-color: white;
  margin: 3px;
}
.upper_nav button {
  border: none;
}
.upper_nav a {
  transform: translate(0, 5px);
}
.upper_nav span {
  color: #45054d;
  padding: 3px;
}
.upper_nav button:hover {
  background-color: #45054d !important;
  transition: 0.5s;
}
.upper_nav button:hover span {
  color: #fff;
}
.top_ads .carousel-inner img {
  height: 100px;
}
.header {
  height: 70px;
  /* background: linear-gradient(#d891e1, #a85ab1,#74247e, #45054d); */
  background: linear-gradient(#45054d, #521b58, #74247e);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
  width: 105vw;
}
.header_searchBar {
  transform: translate(-110px, 20px);
}
.header_searchBtn .btn {
  transform: translate(-185px, 15px);
  height: 25px;
}
.header_navigation {
  margin-left: -160px;
}
.header_navigation button:nth-child(1) {
  border-color: #f96332 !important;
}
.header_navigation button:nth-child(1):hover {
  border-color: white !important;
  background-color: #f96332 !important;
  color: #fff;
  transition: 0.5s;
}
.header_navigation button:nth-child(1) i:hover {
  color: #fff;
}
.header_navigation span {
  font-family: "Knewave", cursive;
}
.footer {
  background-color: #521b58;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
}

/* login page */
.login-page #login_username_label {
  font-family: "Fascinate", cursive;
}
.login_card_form {
  transform: translate(0, -50px);
}
.login_footer_left {
  float: left;
}

.login_footer_right {
  float: right;
}

/* homepage */
.category_container {
  /* border-radius: 10px;
    background: linear-gradient(#45054d,#521b58, #74247e);  */
  background: url("./images/Category/Category.jpg") no-repeat;
  background-size: cover;
  backdrop-filter: 10px;
  border-radius: 10px;
  border: 2px solid #c8c5c9 !important;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 2);
}
.category_container h1 {
  font-family: "Fascinate", cursive;
  color: #74247e !important;
  text-decoration: underline;
}
.category_container .card img {
  width: 12rem;
  height: 200px;
  border-radius: 50%;
}
.category_container .card-deck {
  transform: translate(0, 0px);
}
.category_container .card-deck h4 {
  font-family: "Fascinate", cursive;
}

/* FLASH DEALS  */
.flash_deals {
  border-radius: 10px;
  border: 2px solid #c8c5c9 !important;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 2);
  padding: 0;
  background: url("https://png.pngtree.com/background/20210710/original/pngtree-business-pop-wind-banner-background-picture-image_976724.jpg");
}
.flash_deals h1 {
  font-family: "Fascinate", cursive;
  color: #74247e !important;
}
.flash_deals .card img {
  width: 6rem;
  height: 100px;
  border-radius: 50%;
}
.flash_deals .card img {
  width: 6rem;
  height: 100px;
  border-radius: 50%;
}
.flash_deals .card .card_nike {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.flash_deals .card:hover .card_nike {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.flash_deals .card-deck {
  transform: translate(0, 0px);
}
.flash_deals_banner {
  height: 300px;
  background: url("./images/Flash\ Sales/FlashSales.jpg");
}
.flash_deals_image_1 {
  background: url("./images/Shoes/Nike\ Jordan/1.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_2 {
  background: url("./images/Shoes/Nike\ Jordan/2.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_3 {
  background: url("./images/Shoes/Puma/1.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_4 {
  background: url("./images/Shoes/Puma/5/5-1.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_5 {
  background: url("./images/Shoes/Underarmour/1.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_6 {
  background: url("./images/Shoes/Underarmour/3.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_7 {
  background: url("./images/Shoes/Fila/1.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_8 {
  background: url("./images/Shoes/Fila/2.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #f7f4f8;
}
.flash_deals_image_variation {
  position: absolute;
  border: 2px solid rgb(201, 200, 200);
  height: 50px !important;
  width: 50px !important;
}
.carousel-cell h4 {
  font-family: "Fascinate", cursive;
  color: #74247e !important;
}
#countdown_timer {
  border: 4mm ridge rgba(211, 220, 50, 0.6) !important;
  color: #fff !important;
  padding: 5px;
  margin-bottom: -20px;
}
/* END OF FLASH DEALS  */

.homepage_footer {
  background: linear-gradient(#45054d, #521b58, #74247e);
}
.homepage_container_body {
  background: linear-gradient(#45054d, #521b58, #74247e);
}
.card_nike {
  background: url("./images/Circle\ Shoes\ \(kas\)/Nike.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.card_puma {
  background: url("./images/Circle\ Shoes\ \(kas\)/Puma.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.card_under_armour {
  background: url("./images/Circle\ Shoes\ \(kas\)/UnderArmour.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.card_fila {
  background: url("./images/Circle\ Shoes\ \(kas\)/Fila.png") no-repeat;
  background-size: contain;
  background-position: center;
}
/* End of Homepage */

/* Footer */
footer {
  width: 102vw;
}

/* Category Page */
/* Nike */
.nike_category .card:hover{
  border: 3px solid red;
}
.nike_category .card {
  height: 400px;
}
/* End of Nike */

/* Puma */
.puma_category .card:hover{
  border: 3px solid red;
}
.puma_category .card {
  height: 400px;
}
/* End of Puma */

/* Fila */
.fila_category .card:hover{
  border: 3px solid red;
}
.fila_category .card {
  height: 400px;
}
/* End of Fila */

/* Under Armour */
.under_armour_category .card:hover{
  border: 3px solid red;
}
.under_armour_category .card {
  height: 400px;
}
/* End of Under Armour */
/* End of Category Page */

/* Search Page */
.search_category .dropdown-toggle{
  background: linear-gradient(#45054d, #521b58, #74247e);
}
.search_category .dropdown-item:hover{
  background: linear-gradient(#45054d, #521b58, #74247e);
  color: #fff;
}
.search_page_item{
  background: linear-gradient(#45054d, #521b58, #74247e);
}
/* End of Search Page */
.ad_page_nike {
  background: linear-gradient(#45054d, #521b58, #74247e);
}