body{
    background-color: #e9e9e9;;
}
.card{
    height: 350px;
    width: 230px;
}
.card-title img{
    transform: translate(0,-20px);
}
.card-title p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
}
.card p,span,i{
    color: #dc74e9;
}
.card-header p:nth-last-child(){
    margin-left: 75px;
}
.card_rating{
    margin-left: -10px;
    font-size: 12px;
}
.card_body_first_col{
    transform: translate(90px,25px);
}
.card_rating i{
    margin-left: -2px;
    color: yellow;
    font-size: 8px;
}
.card_deliver{
    margin-left: 20px;
}
.card_deliver .fa-truck-ramp-box{
    transform: translate(0,5px);
    font-size: 12px;
}
.card_deliver .deliver_price {
    font-size: 15px;
}
.upper_nav{
    height: 30px;
    background-color: white;
    margin: 3px;
}
.upper_nav span{
    color: #45054d;
    padding: 3px;
}
.upper_nav button{
    border-color: 2px solid #45054d;
}
.upper_nav button:hover{
    background-color: #45054d !important;
    transition: .5s;
}
.upper_nav button:hover span{
    color: #fff;
}
.top_ads .carousel-inner img{
    height: 100px;
}
.header{
    height: 70px;
    /* background: linear-gradient(#d891e1, #a85ab1,#74247e, #45054d); */
    background: linear-gradient(#45054d,#521b58, #74247e);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
}
.header_searchBar{
    transform: translate(-110px,20px);
}
.header_searchBtn .btn{
    transform: translate(-185px, 15px);
    height: 25px;
}
.header_navigation{
    margin-left: -160px;
}
.header_navigation button:nth-child(1){
    border-color: #f96332 !important;
}
.header_navigation button:nth-child(1):hover{
    border-color: white !important;
    background-color: #f96332 !important;
    color: #fff;
    transition: .5s;
}
.header_navigation button:nth-child(1) i:hover{
    color: #fff;
}
.header_navigation span{
    font-family: 'Knewave', cursive;
}
.footer{
    background-color: #521b58;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
}

/* login page */
.login-page #login_username_label{
    font-family: 'Fascinate', cursive;
}
.login_card_form {
    transform: translate(0,-50px);
}
.login_footer_left {
    float: left;
}
  
.login_footer_right {
    float: right;
}
